{
  "extends": ["adpyke-es6", "prettier"],
  "env": {
    "greasemonkey": true
  },
  "globals": {
    "waitForElems": true,
    "waitForUrl": true,
    "GM_config": true,
    "m": true,
    "wanakana": true
  }
}
